body{
    margin-left: 150px;
    margin-right: 150px;
    top: 0%;
}
.header{
    position: relative;
    display: flex;
    height: 150px;
    background-color:black;
}
.divImg{
    display: flex;
    position: absolute;
    width: 30%;
    height: 100%;
}
.mybanner{
    justify-content: center;
    align-content: center;
    margin-left: 30px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.liste{
    position: absolute;
    display: flex;
    color: white;
    top: 0%;
    left: 45%;
    height: 80%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15%;
    list-style-type: none;
}
.liste>ul>li>p{
    width: 60%;
    display: flex;
}
.para{
    margin-left: 5px;
}
.para1{
    margin-left: 15px;
}
.para2{
    margin-left: 13px;
}
.para3{
    margin-left: -10px;
}
.bleugris{
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #334D5C;
}
.package{
    position: absolute;
    height: 100%;
    width: 30%;
}
.imgpackage{
    position: absolute;
    top: 65px;
    left: 25%;
}
.titres{
    position: absolute;
    width: 65%;
    height: 100%;
    color: white;
    left: 30%;
}
.titres>h1{
    position: absolute;
    top: 10%;
    left: 40px;
    font-size: 65px;
}
.titres>h2{
    position: absolute;
    top: 37%;
    left: 40px;
    font-size: 50px;
}
.blanc{
    height: 400px;
    width: 100%;
    position: relative;
    border: solid black 1px;

}
.beige{
    height: 200px;
    width: 100%;
    background-color: #EAE3D6;

}
.beige2{
    height: 250px;
    width: 100%;
    background-color: #EAE3D6;
}
.footer{
    height: 300px;
    width: 100%;
    background-color: black;
}